<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<h1>Start The Game</h1>



<form action="/" method="post" >

    <input type="radio" name="exercise" value=”squat” >
    <label for = "squat">Squat</label><br>
    <input type="radio" name= "exercise" value=”pushUp” >
    <label for="pushUp">Push Ups</label><br>
    <input type="radio" name="exercise" value=”lunges”>
    <label for ="lunges">Lunges</label><br>
</form>

{{training}}

{{!-- <div> --}}
{{!--     <ul> --}}
{{!--         {{#each users}} --}}
{{!--             <li>{{this}}</li> --}}
{{!--         {{/each}} --}}
{{!--     </ul> --}}
{{!-- </div> --}}

</body>


</html>